<div class="main-centr-container">
  <h2>Hi <%= firstName%>! Please create a password.</h2>
  <p>Lorem ipsum dolor sit amet, consectetuer adipicing elit, sed diam nonummy.</p>
  <form
    class     = "create-password"
    role      = "form"
    novalidate= "novalidate"
    name      = "authForm"
    method    = "post"
    ng-submit = "submitted=true; createPasswordAction(form,authForm.$valid)"
    ng-controller = "CreatePasswordController"
  >
    <div ng-hide>
      {{form.id='<%=_id%>'}}
      {{form.email='<%= email%>'}}
    </div>
    <div class ="form-group">
      <label>Your Username</label>
      <p class="notice">Your account has been automaticaly created, please login with the following username.</p>
      <p class="email">{{form.email}} </p>
    </div>
    <div class="form-group">
      <label for="password-field" class="required">Enter Your Password</label>
      <p class="notice">Please include 1 number and 1 capital letter.</p>
      <input
        id          = "password-field"
        class       = "form-control"
        type        = "password"
        name        = "password"
        placeholder = "Password"
        autocomplete= "off"
        autofocus   = "on"
        required    = "required"
        ng-maxlength= "69"
        ng-model    = "form.password"
        ng-model-options= "{debounce:200,'blur':1}"
        ng-class = "{'error-validation-field': authForm.password.$invalid && (authForm.password.$touched || submitted)}"
        password-validation
      >
      <!--password-validation-->
      <div
        class = "error-validation"
        ng-if = "authForm.password.$touched || submitted"
        ng-messages = "authForm.password.$error"
        ng-messages-include = "/components/shared/error-messages.html"
        ng-messages-multiple
      ></div>
    </div>
    <div class="form-group">
      <label for="re-password-field" class="required">Re-Enter Your Password</label>
      <input
        id          = "re-password-field"
        class       = "form-control"
        type        = "password"
        name        = "repassword"
        placeholder = "Re-Password"
        autocomplete= "off"
        required    = "required"
        ng-maxlength= "69"
        ng-model    = "form.repassword"
        ng-class    = "{'add-loader':authForm.repassword.$pending, 'error-validation-field': authForm.repassword.$invalid && (authForm.repassword.$touched || submitted)}"
        ng-model-options= "{debounce:200,'blur':1}"
        compare-to  = "authForm.password"
        password-validation
      >
      <div
        class       = "error-validation"
        ng-if       = "authForm.repassword.$touched || submitted"
        ng-messages = "authForm.repassword.$error"
        ng-messages-include = "/components/shared/error-messages.html"
        ng-messages-multiple
      ></div>
    </div>
    <div class="form-group" ng-class="{'add-loader out':authPending}">
      <button class="btn btn-primary" type="submit" ng-class="{'add-loader out':authPending}">Create Your Password</button>
    </div>
  </form>
</div> <!-- .main-centr-container -->
