//
   Created by sergey on 2/2/15.
doctype html
html
  head
    title НАЧАЛО!!
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='css/main.css')
    script(type='text/javascript', src='angular/angular.js')
    script(type='text/javascript', src='angular-ui-bootstrap-bower/ui-bootstrap.js')
    script(type='text/javascript',src='js/main.js')
  body(ng-app='app')
    block content