@import "reset.css";

h1{text-transform: uppercase;}

.main-centr-container{
  width: 90%;
  padding: 40px 20px;
  box-sizing: border-box;
}

form#authorization{
  width: 60%;
  min-width: 600px;
  display: block;
  margin: 0 auto;
}