@import "reset.css";

h1{text-transform: uppercase;}

.main-centr-container{
  width: 90%;
  padding: 40px 20px;
  box-sizing: border-box;
}

form.authorization{
  width: 60%;
  min-width: 600px;
  display: block;
  margin: 0 auto;
}
form .form-group{position: relative}

form div.error-validation {
  /*margin: -10px 0 0 0*/
  position: absolute;
  right: 0;
  bottom: -0.7em;
  width: 100%;
}
form div.error-validation > div{
  font-family: monospace;
  font-size: x-small;
  color: #FF0000;
  float: right;
  text-align: right;
}