<!-- remout file: error-messages.html -->
<div class="error-item" ng-message="recordLoading">Checking database...</div>
<div class="error-item" ng-message='required'>Field can not be empty</div>
<div class="error-item" ng-message='login'>Please enter valid data</div>
<div class="error-item" ng-message='email'>Please enter valid data</div>
<div class="error-item" ng-message='minlength'>Your value is too short</div>
<div class="error-item" ng-message='maxlength'>Your value is too long</div>
<div class="error-item" ng-message="existingEmail">The email address is already in use</div>
<div class="error-item" ng-message="fieldsNotMatch">The fields must match</div>
<div class="error-item" ng-message="emailNotFound">Email not found</div>
<div class="error-item" ng-message="wrongPassword">Wrong password</div>
<div class="error-item" ng-message="passwordFormat">The password must be at least 7 characters long including uppercase and lowercase letters, digits</div>
<div class="error-item" ng-message="matchePasswords">Passwords must be similar</div>
<div class="error-item" ng-message="compareTo">Fields must be similar</div>
